<div class="tasklist-wrapper">
  <div *ngFor="let task of tasks || []" class="task-card">
    <div class="task-info">
      <div class="task-title">{{ task.title }}</div>
      <div class="task-desc">{{ task.description }}</div>
    </div>

    <div class="task-actions">
      <mat-checkbox
        [checked]="task.completed"
        (change)="onCompletedChange(task)">
      </mat-checkbox>

      <button mat-icon-button color="primary" (click)="editTask(task.id)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
